<!DOCTYPE html>
<html lang="@AppGlobal.ContentLanguage" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="tW3G9DdDMvMQkmB945pYzT8AZc-FxmUf7YGSdT0OmBU" />
    @RenderSection("Header", required: false)
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:100,400,300,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/elfinder/js/elfinder.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
</head>
<body>
    <div class="header p-2">
        <div class="container">
            <div class="logo">
                <a asp-action="Index" asp-controller="Home"><img src="~/images/logo_157x157.png" title="" /></a>
            </div>
            <!---start-top-nav---->
            <div class="top-menu">
                <div class="search">
                    <form>
                        <input type="text" placeholder="" required="">
                        <input type="submit" value="" />
                    </form>
                </div>
                <span class="menu"> </span>
                <ul>
                    <li><a asp-action="Index" asp-controller="Home">TRANG CHỦ</a></li>
                    <li><a asp-action="About" asp-controller="Home">TÁC GIẢ</a></li>
                    <li><a asp-action="Index" asp-controller="Contact">LIÊN HỆ</a></li>
                    <li class="clearfix"></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <script>
                $("span.menu").click(function () {
                    $(".top-menu ul").slideToggle("slow", function () {
                    });
                });
            </script>
            <!---//End-top-nav---->
        </div>
    </div>
    @RenderBody()
    <div class="footer">
        <div class="container">
            <p>Copyrights © 2021 <a asp-action="Index" asp-controller="Home">Tôi làm kỹ thuật</a></p>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
