@using ToiLamKythuat.ViewModels
@model SidebarInfor

<div class="recent">
    <h3>BÀI VIẾT MỚI</h3>
    <ul>
        <li><a href="#">Aliquam tincidunt mauris</a></li>
        <li><a href="#">Vestibulum auctor dapibus  lipsum</a></li>
        <li><a href="#">Nunc dignissim risus consecu</a></li>
        <li><a href="#">Cras ornare tristiqu</a></li>
    </ul>
</div>
<div class="comments">
    <h3>TÁC GIẢ</h3>
    <img src="~/images/avatar.jpg" style="border-radius:50%" class="text-center" height="80" width="80" />
    <h4>Dương Nguyễn Tấn Hòa</h4>
    <p style="font-weight:300;">Mình là Dương Nguyễn Tấn Hòa, một developer. Cuộc sống đẩy đưa khiến mình gặp nhiều lĩnh vực liên quan đến kỹ thuật và công nghệ</p>
    <p style="font-weight:300;">Blog này là nơi mình chia sẻ những kiến thức, kinh nghiệm, dịch sách và bàn luận các vấn đề mình đạt được trong quá trình làm việc và trải nghiệm</p>
</div>
<div class="clearfix"></div>
<div class="archives">
    <h3>DANH MỤC BÀI VIẾT</h3>
    <ul>
        <li><a href="#">October 2013</a></li>
        <li><a href="#">September 2013</a></li>
        <li><a href="#">August 2013</a></li>
        <li><a href="#">July 2013</a></li>
    </ul>
</div>
<div class="archives">
    <h3>FANPAGE</h3>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftoilamkythuat%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</div>
<div class="categories">
    <h3>TAG</h3>
    <ul>
        <li><a href="#">Vivamus vestibulum nulla</a></li>
        <li><a href="#">Integer vitae libero ac risus e</a></li>
        <li><a href="#">Vestibulum commo</a></li>
        <li><a href="#">Cras iaculis ultricies</a></li>
    </ul>
</div>
<div class="clearfix"></div>

