@using ToiLamKythuat.ViewModels
@using ToiLamKythuat.ViewModelExtensions
@{
    var headerInfor = new HeaderInfor().GetDefaultValue();
    var headerHtml = await Html.PartialAsync("~/Views/Header.cshtml", headerInfor);
}
@model HomeView
@section Header {
    @headerHtml
}
<div class="about-content">
    <div class="container">
        <h2>Giới thiệu bản thân và trang Blog</h2>
        <div class="about-section">
            <div class="about-grid">
                <h3>Câu chuyện về tôi?</h3>
                <p>
                    Chào độc giả, bao gồm những người bạn, những người mình quen biết hoặc chưa từng quen biết.
                    Trước tiên, cho mình gởi lời cảm ơn chân thành nhất đến tất cả những độc giả ghé thăm “ngôi nhà” tinh thần này của mình.
                </p>
                <p>
                    Như tựa đề của blog, “tôi làm kỹ thuật” đây là hành trình học hỏi và tích lũy kinh nghiệm của mình trong công việc, học tập và trong cuộc sống.
                    Như bạn biết đó kiến thức, triết lý là hai thứ vô cùng quan trọng trong hành trang trên đường phát triển bản thân. Nên với việc duy trì và ngày càng cải thiện hình ảnh lẫn chất lượng blog, mình hi vọng sẽ ngày càng hoàn thiện hơn bản thân mình.
                </p>
            </div>
            <div class="about-grid2">
                <h3>Những mục tiêu hướng đến?</h3>
                <p>
                    Như đã đề cập ở trên blog "Tôi làm kỹ thuật" là nơi mình chia sẽ những kiến thức, chém gió và bàn luận về các trải nghiệm của mình trong cuộc sống, tuy là nói vậy thôi nhưng nó cũng cần có những mục tiêu cụ thể
                </p>
                <ul>
                    <li><a href="#">Đọc và dịch sách để không phải là "loser"</a></li>
                    <li><a href="#">Phát triển blog để phát triển bản thân</a></li>
                    <li><a href="#">Trao đi "yêu thương" để nhận lại "yêu thương" để rồi lan tỏa yêu thương đến mọi người (chia sẻ và học hỏi)</a></li>
                    <li><a href="#">Kiếm chút cơm "xiền" đi cà phê</a></li>
                </ul>
            </div>
            <div class="who-iam">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="man-pic">
                            <img style="border-radius:50%; border: solid 1px #00aeff" src="~/images/avatar.jpg" alt="" height="300" />
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <h3>Tôi là ai?</h3>
                        <div class="man-info">
                            <p>Vào đề nãy giờ đã khá lâu, bây giờ mình vô phần chính nhé, đó là vài câu giới thiệu bản thân</p>
                            <h4>Những sự thật về tôi.</h4>
                            <ul>
                                <li>Họ và tên: Dương Nguyễn Tấn Hòa.</li>
                                <li>Ngày sinh: 30/11/1997.</li>
                                <li>Tốt nghiệp Đại học Bách Khoa Thành Phố Hồ Minh năm 2019 chuyên ngành Điện tử - Viễn thông</li>
                                <li>Quên quán: huyện Bến Lức, tỉnh Long An. Thường trú: TP.Hồ Chí Minh</li>
                                <li>Tính cách: hướng nội, trầm lắng</li>
                                <li>Sở thích: Nghe nhạc, đọc sách và "nghiện" cà phê</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>