@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contact-content">
    <div class="container">
        <div class="contact-info">
            <h2>LIÊN HỆ</h2>
            <p>Mọi đóng góp của bạn là thành công của tôi, xin chân thành cảm đã quan tâm đến chúng tôi. Vui lòng điền thông tin bên dưới</p>
        </div>
        <div class="contact-details">
            <form>
                <input type="text" placeholder="Họ và tên" required />
                <input type="text" placeholder="Email" required />
                <input type="text" placeholder="Điện thoại" required />
                <input type="text" placeholder="Tỉnh/ Thành phố" required />
                <textarea placeholder="Nội dung"></textarea>
                <input type="submit" value="GỬI" />
            </form>
        </div>
        <div class="contact-details">
            <div class="col-md-6 company_address">
                <h4>TÌM KIẾM TÔI</h4>
                <p>xã Phước Lợi, huyện Bến Lức, tỉnh Long An</p>
                <p>Việt Nam</p>
                <p><a href="tel:(+84)359759402">Phone:(+84) 35 975 9402</a></p>
                <p>Email: <a href="mailto:tanhoatm@gmail.com">tanhoatm@gmail.com</a></p>
                <p>Follow on: <a href="https://www.facebook.com/toilamkythuat">Facebook</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
