@using ToiLamKythuat.ViewModels
@using ToiLamKythuat.ViewModelExtensions
@{
    var headerInfor = new HeaderInfor().GetDefaultValue();
    var headerHtml = await Html.PartialAsync("~/Views/Header.cshtml", headerInfor);
}
@section Header {
    @headerHtml
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
