@model ToiLamKythuat.Models.Post

@{
    ViewData["Title"] = "Xóa bài viết";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div>
    <h4>Xác nhận xóa bài viết</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tiêu đề
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            Ngày tạo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createDate)
        </dd>
        <dt class = "col-sm-2">
            Tóm tắt
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a class="btn btn-dark" asp-action="Index">Thoát</a>
    </form>
</div>
