@model ToiLamKythuat.Models.Category

@{
    ViewData["Title"] = "Xóa danh mục bài viết";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3>Bạn xác nhận xóa danh mục này?</h3>
<div>
    <h4>Danh mục bài viết</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã quản lý
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.code)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Tên danh mục
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="code" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-dark" asp-action="Index">Thoát</a>
    </form>
</div>
