@model ToiLamKythuat.Models.Category

@{
    ViewData["Title"] = "Danh mục bài viết - " + Model.name;
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div>
    <h4>Danh mục bài viết</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã quản lý
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.code)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Tên danh mục
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.code" class="btn btn-primary">Sửa</a>
    <a class="btn btn-dark" asp-action="Index">Thoát</a>
</div>
