@model ToiLamKythuat.Models.Category

@{
    ViewData["Title"] = "Cập nhật danh mục";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h4>Cập nhật danh mục</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="code" />
            <div class="form-group">
                <label asp-for="name" class="control-label"><b>Tên danh mục</b></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="meta" class="control-label"><b>Meta</b></label>
                <input asp-for="meta" class="form-control" />
                <span asp-validation-for="meta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Index">Thoát</a>
            </div>
        </form>
    </div>
</div>


