@using ToiLamKythuat.ViewModels
@using ToiLamKythuat.ViewModelExtensions
@{
    var headerInfor = new HeaderInfor().GetDefaultValue();
    var headerHtml = await Html.PartialAsync("~/Views/Header.cshtml", headerInfor);
}
@model HomeView
@section Header {
    @headerHtml
}
<div class="content">
    <div class="container">
        <div class="content-grids">
            <div class="col-md-8 content-main">
                <div class="content-grid">
                    @{
                        await Html.RenderPartialAsync("~/Views/Posts/List.cshtml", Model.posts);
                    }
                </div>
            </div>
            <div class="col-md-4 content-right">
                @{
                    var sidebarInfor = new SidebarInfor()
                    {
                        topPosts = Model.topPosts,
                        categories = Model.categories,
                        tags = Model.tags
                    };
                    await Html.RenderPartialAsync("~/Views/Shared/_Sidebar.cshtml", sidebarInfor);
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

